{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row"> <h2>Livraison</h2>
            <div class="span12">
                <div class="span3">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include 'Module_include/userConnect.html.twig' %}
                    {% else %}
                        {% include 'Module_include/user.html.twig' %}
                    {% endif %}
                    {{   render(controller('AppBundle:Panier:menu')) }}
                </div>

                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                            <form action="{{ path ('validation') }}" method="post">

                                <h4>Adresse de livraison</h4>
                                {% for adress in user.adresse %}

                                <label class="radio">
                                    <input type="radio" name="livraison" value="{{  adress.id }}"  {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                    {{  adress.adresse }}<a href="{{ path('livraisonAdresseSuppression', { 'id' : adress.id }) }}">&nbsp; &nbsp;<i class="icon-trash"></i></a>
                                    <br>{{  adress.cp }}, {{  adress.ville }} - {{adress.pays }}
                                    <br>{{  adress.prenom }} {{  adress.nom }}
                                </label>
                                {% endfor %}

                                <br /><br />

                                <h4>Adresse de facturation</h4>
                                {% for adress in user.adresse %}
                                <label class="radio">
                                    <input type="radio" name="facturation" value="{{  adress.id }}"   {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                    {{  adress.adresse }} &nbsp;<a href="#"><i class="icon-trash"></i></a>
                                </label>
                                {% endfor %}
                                <button class="btn btn-primary">Valider mes adresses</button>

                            </form>
                        </div>


                       <div class="span4">
                            <h4>Ajouter une nouvelle adresse</h4>
                            <form action="{{ path('livraison') }}" method="POST">
                                {{ form_widget(form) }}
                                <button class="btn btn-primary">Ajouter</button>
                            </form>
                       </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}